<!DOCTYPE html>
<html lang="en">
<head>
	<title>Planilha Débito/Crédito</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<script id="lancamentoTemplate" type="text/template">
		<td><%= $.format.date( new Date( data ), 'dd/MM/yy' ) %></td>
		<td>R$<%= new String(valor).replace('.', ',') %></td>
		<td><%= descricao %></td>
		<td><%= tipo %></td>
		<td><button class="btn btn-default delete">Remover</button></td>
	</script>
    <script src="js/lib/jquery-ui.min.js"></script>
    <script src="js/lib/jquery-dateFormat.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    
	
	<!-- Application Code -->
	<script src="js/models/lancamento.js"></script>
	<script src="js/collections/lancamentos.js"></script>
	<script src="js/views/LancamentoView.js"></script>
	<script src="js/views/MainView.js"></script>
	<script src="js/app.js"></script>


	<div class="container" id="main">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<form role="form" id="addLancamento" action="#">	
					<fieldset>
						<legend>Lançamento: </legend>
						<div class="form-group form-inline">
							<label class="control-label col-sm-2" for="data">Data:</label>
							<div class="col-sm-3">
								<input class="form-control" id="data" type="text" size="13"/>
								<span id="msg-data"></span>
							</div>

							<label class="control-label col-sm-1" for="valor">Valor:</label>
							<div class="col-sm-4">
								<input class="form-control" id="valor" type="text" placeholder="Insira um valor!  Ex:100,00"/>
								<span id="msg-valor"></span>
							</div>
						</div>
						<br>
						<br>
						<div class="form-group form-inline">
							<label class="control-label col-sm-2" for="descricao">Descrição:</label>
							<div class="col-sm-10">
								<input class="form-control" id="descricao" type="text" placeholder="Insira a descrição!" size="56" />
								<span id="msg-descricao"></span>
							</div>
						</div>
						<br>
						<br>
						<div class="form-group form-inline">
							<label class="control-label col-sm-2" for="tipo">Tipo:</label>
							<div class="col-sm-10">
							
								<label class="radio-inline"><input class="form-control" id="tipo" name="tipo" type="radio" value="C" checked="checked">Crédito</label>
								<label class="radio-inline"><input class="form-control" id="tipo" name="tipo" type="radio" value="D">Débito</label>
							
							</div>
						</div>
						<br>
						<div class="form-group form-inline">
							<div class="col-sm-2">
								<button class="btn btn-primary" id="add">Adicionar</button>							
							</div>
							<div class="col-sm-6">
								<p id="msg-form"></p>
							</div>
							<div class="col-sm-4"></div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<a href="#" id="clear-filter">Clear Filter</a>
			</div>
			<div class="col-sm-2"></div>
      	</div>
		<br>
		<div class="row" id="lancamentos">
      		<div class="col-sm-2"></div>
      		<div class="col-sm-8">
	      		<table class="table table-striped" id="resultados">
	      			<thead>
	      				<tr>
	      					<th>Data</th>
	      					<th>Valor</th>
	      					<th>Descrição</th>
	      					<th>Tipo</th>
	      					<th>Ação</th>
	      				</tr>
	      			</thead>
	      			<tbody id="lanceRows">
	      			</tbody>
	      		</table>
      		</div>
      		<div class="col-sm-2"></div>
      	</div>
	</div>

</body>
</html>
