<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Planilha Débito/Crédito</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" href="css/jquery-ui.min.css">
	</head>
	<body>
		<script id="lancamentoTemplate" type="text/template">
			<td><%= $.format.date( new Date( data ), 'dd/MM/yy' ) %></td>
			<td>R$<%= valor %></td>
			<td><%= descricao %></td>
			<td><%= tipo %></td>
			<td><button class="delete">Remover</button></td>
		</script>
	    <script src="js/lib/jquery-1.9.1.min.js"></script>
        <script src="js/lib/jquery-ui.min.js"></script>
        <script src="js/lib/jquery-dateFormat.js"></script>
        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/backbone.js"></script>
        
		
		<!-- Application Code -->
		<script src="js/models/lancamento.js"></script>
		<script src="js/collections/lancamentos.js"></script>
		<script src="js/views/LancamentoView.js"></script>
		<script src="js/views/MainView.js"></script>
		<script src="js/app.js"></script>

		<div id="main">
			<form id="addLancamento" action="#">	
				<div>
					<fieldset>
						<legend>Lançamento: </legend>
						<label for="data">Data: </label>
						<input id="data" type="text" size="10"/>

						<label for="valor">Valor: </label>
						<input id="valor" type="text" placeholder="Insira o valor a ser lançado!" />
						<button id="add">Adicionar</button>
					<br>
					<br>
						<label for="descricao">Descrição: </label>
						<input id="descricao" type="text" placeholder="Insira a descrição!" size="50" />

						<label for="tipo">Tipo: </label>
						<input id="tipo" name="tipo" type="radio" value="C" checked />Crédito
						<input id="tipo" name="tipo" type="radio" value="D" />Débito
					</fieldset>
				</div>
			</form>
			<a href="#" id="clear-filter">Clear Filter</a>
	      	<br>	      	
	      	<div id="lancamentos">
	      		<table id="resultados">
	      			<thead>
	      				<tr>
	      					<th>Data</th>
	      					<th>Valor</th>
	      					<th>Descrição</th>
	      					<th>Tipo</th>
	      					<th>Ação</th>
	      				</tr>
	      			</thead>
	      			<tbody id="lanceRows">
	      			</tbody>
	      		</table>
	      	</div>
	    </div>
	</body>
</html>